@import "../../imports.scss";

.container {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  place-content: center;
  height: 55em;
}

.card {
  @include flex-template(column);
  position: relative;
  background: $white;
  box-shadow: $shadow;
  border-radius: 10px;
  width: 28em;
  height: 27em;

  .wrapper {
    padding: 1.4em;

    .textField {
      min-height: 9em;

      > textarea {
        @include input-template;
        min-height: 10em;
        margin-top: 20px;
        resize: none;
        border: 0;
        overflow: hidden;
      }
    }

    .counter {
      color: $black;
      text-align: right;
    }
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-columns: 22em;
  }

  .card {
    width: 22em;
    height: 25em;

    .counter {
      margin-top: -30px;
    }
  }
}
