@import "../../imports.scss";

.container {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  place-content: center;
  height: 55em;
}

.card {
  @include flex-template(column);
  position: relative;
  background: $white;
  box-shadow: $shadow;
  border-radius: 10px;
  width: 28em;
  height: 27em;

  .wrapper {
    padding: 1.4em;

    .textField {
      min-height: 9em;

      > textarea {
        @include input-template;
        min-height: 10em;
        margin-top: 20px;
        resize: none;
        border: 0;
        overflow: hidden;
      }
    }

    .counter {
      color: #000;
      text-align: right;
    }
  }

  .options {
    @include flex-template(row);
    position: absolute;
    bottom: 0;
    width: calc(100% - 44px);
    height: 20px;
    place-items: center;
    place-content: center;
    justify-content: space-between;
    background: rgba(205, 205, 205, 0.945);
    padding: 22px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;

    .tools {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(4, auto);
      > button {
        background: transparent;
        color: $black;
        &:hover {
          color: $secondary-color;
          transition: ease-out 0.4s;
        }
      }
    }
    .send {
      width: 150px;
      height: 40px;
      z-index: 1;
      position: relative;

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $secondary-color;
        transform-origin: center right;
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
      }
      &:hover::before {
        transform-origin: center left;
        transform: scaleX(1);
      }
    }
  }
}

input {
  @include input-template;
  height: 100%;
  padding-bottom: 5px;
}

button {
  display: flex;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: $white;
  cursor: pointer;
  place-items: center;
  place-content: center;
  border: none;
  outline: none;
}
