@import "../imports.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10em;
  width: auto;
  min-height: 10em;
}

.logo {
  display: flex;
  place-content: center;
  margin-block: 30px 80px;
}

.loadingLogo {
  height: 100%;
  place-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  color: $black;
}
