@import "../imports.scss";

.wrapper {
  @include flex-template(row);
  gap: 10em;
  width: auto;
  min-height: 10em;
}

.logo {
  display: flex;
  place-content: center;
  margin-block: 30px 80px;
}

.loadingLogo {
  height: 100%;
  place-content: center;
  animation: flip 1.15s infinite;
}

@keyframes flip {
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

input {
  @include input-template;
  height: 100%;
  padding-bottom: 5px;
}

button {
  display: flex;
  border-radius: 3px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $black;
  color: $white;
  cursor: pointer;
  place-items: center;
  place-content: center;
  border: none;
  outline: none;
}
