@import "../../imports.scss";

.feed {
  width: 28em;

  .border {
    width: 100%;
    border-top: $border;
  }

  .wrapper {
    max-height: 55em;
    padding: 10px;
    overflow: auto;
  }

  .letter {
    @include flex-template(column);
    color: $black;
    margin-top: 20px;
    padding: $medium-padding;
    border: $border;
    border-radius: 10px;
    height: auto;
    justify-content: space-between;

    .date {
      @include line-text-template(right);
    }

    .receiver {
      @include line-text-template(left);
    }

    .subject {
      @include line-text-template(left);
    }

    .text {
      @include line-text-template(left);
    }
  }
}
